<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.demo_rpc_service.mapper.one.OneTestMapper">
    <!--获取车购税信息-->
    <select id="listJdc" resultType="Map">
             select *from cgs_dksq
    </select>

</mapper>